<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask on Docker</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
      rel="stylesheet"
    >
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="">
        <br>
        <h1 class="title">Predecciones de plagas en la región SAN MARTÍN</h1>
        <hr><br>
        <form action="/" method="POST">
          <div class="field">
            <label class="label">AÑO</label>
            <div class="control">
              <input
              name="anho" class="input"
              type="number" placeholder="Enter año" value="2023">
            </div>
          </div>


          <input
            type="submit" class="button is-primary is-fullwidth"
            value="Predecir">
        </form>
        <br>
       
          {% if predictions %}

            Result: {{inputs}} <hr> 
             
              {% for item in predictions %}
                <span>{{ item }}</span><br>
              {% endfor %}
          {% else %}
            <p>No predicts!</p>
          {% endif %}
        </div>
      </div>
    </div>
    </script>
    {% block js %}{% endblock %}
  </body>
</html>